<a href="https://colab.research.google.com/github/AprendaPracticando/AlmacenesDeDatos/blob/main/ADV02_extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02 Extract usando pandas

---

In [1]:
# Importando la librería de pandas

import pandas as pd

In [2]:
# Referencia a archivo CSV en línea

url='https://raw.githubusercontent.com/AprendaPracticando/AlmacenesDeDatos/main/personas_titanic.csv'

In [3]:
# Carga de datos a un DataFrame

df=pd.read_csv(url)

In [4]:
# Verificando que los datos se han cargado

df

,id_persona,clave_sobrevivencia,nombre,sexo,clase_viaje,id_bote,id_cuerpo,edad,cantidad_parientes,cantidad_familiares
0,10000,0.0,"Andrews, Mr. Thomas Jr",hombre,1.0,NaN,NaN,39.0,0,0
1,10001,0.0,"Chisholm, Mr. Roderick Robert Crispin",hombre,1.0,NaN,NaN,NaN,0,0
2,10002,0.0,"Fry, Mr. Richard",hombre,1.0,NaN,NaN,NaN,0,0
3,10003,0.0,"Harrison, Mr. William",hombre,1.0,NaN,110.0,40.0,0,0
4,10004,1.0,"Ismay, Mr. Joseph Bruce",hombre,1.0,C,NaN,49.0,0,0
...,...,...,...,...,...,...,...,...,...,...
1305,11305,0.0,"Sage, Mrs. John (Annie Bullen)",mujer,3.0,NaN,NaN,NaN,1,9
1306,11306,0.0,"Storey, Mr. Thomas",hombre,3.0,NaN,261.0,60.5,0,0
1307,11307,0.0,"Baumann, Mr. John D",hombre,NaN,NaN,NaN,NaN,0,0
1308,11308,NaN,"Blackwell, Mr. Stephen Weart",hombre,NaN,NaN,NaN,NaN,0,0
1309,11309,0.0,"Baxter, Mr. Quigg Edmond",hombre,NaN,NaN,NaN,24.0,0,1